<div></div>

<div class="container">
    <div class="cell"><div echarts [options]="chartOptions" class="echart-container"></div></div>
    <div class="cell"><div echarts [options]="lineChartOptions" class="line-chart-container"></div></div>
    <div class="cell"><div echarts [options]="pieChartOptions" class="pie-chart-container"></div></div>
    <div class="cell"><div echarts [options]="scatterChartOptions" class="scatter-plot-container"></div></div>
    <div class="cell"><div echarts [options]="treeChartOptions" class="treemap-container"></div></div>
    <div class="cell"><div echarts [options]="parallelChartOptions" class="parallel-coordinates-container"></div></div>
    <div class="cell"><div echarts [options]="calenderChartOptions" class="calendar-chart-container"></div></div>
    <div class="cell"><div echarts [options]="radarChartOptions" class="radar-chart-container"></div></div>
    <div class="cell"><div echarts [options]="heatMapChartOptions" class="heatmap-chart-container"></div></div>
    <div class="cell"><div echarts [options]="sunburstChartOptions" class="sunburst-chart-container"></div></div>
    <div class="cell"><div echarts [options]="candlestickChartOptions" class="candlestick-chart-container"></div></div>
    <div class="cell"><div echarts [options]="funnelChartOptions" class="funnel-chart-container"></div></div>
    <div class="cell"><div echarts [options]="gaugeChartOptions" class="gauge-chart-container"></div></div>
    <div class="cell"><div echarts [options]="boxplotChartOptions" class="boxplot-chart-container"></div></div>
    <div class="cell"><div echarts [options]="graphChartOptions" class="graph-chart-container "></div></div>
    <div class="cell"><div echarts [options]="sankeychartOptions" class="sankey-chart-container"></div></div>
    <div class="cell"><div echarts [options]="themeRiverChartOptions" class="theme-river-chart-container"></div></div>

  </div>
  


